@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  background-color: #222;
}

.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  height: 100vh;
  display: flex;
  flex: 0 100vh;
  flex-direction: column;
}

nav {
  height: 64px;
  line-height: 64px;
  font-size: 24px;
}

nav button {
  display: inline-block;
  height: 48px;
  border: none;
  background-color: transparent;
  font-size: 32px;
  color: #fff;
}
